*{
    font-family: 'Helvetica', 'sans-serif';
}

body{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
}

img{
    width: 150px;
}

.section{
    display: flex;
}

.footer{
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.section1,
.section2,{
    flex-direction: column;
    height: 400px;
}

.section1{
    background-color: #1F2937;
    padding-bottom: 50px;
    padding: 0 8em 6em;
    gap: 4em;
}

.section1 .header{
    display: flex;
    justify-content: space-between;
}

.section1 .header p{
    color: #F9FAF8;
    font-style: bold;
    font-size: 24px;
}

.section1 .header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding-left: 0px;
    gap: 2em;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.section1 .container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 4em;
}

.section1 .container img{
    width: 400px;
}

.section1 .container .text-button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section1 .container .text-button :first-child{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.section1 .container .text-button p{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.section1 .container .text-button button{
    padding: .5em 2em;
    align-self: flex-start;
    background-color: #3882F6;
    border-radius: 6px;
    color: #E5E7EB;
    border:1px solid #3882F6 ;
}

.section2{
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    flex-direction: column;
}

.section2 .container{
    display: flex;
    flex-direction: row;
    gap: 2em;
    font-size: 16px;
    font-weight: normal;
    color:dimgray;
}

.img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container img{
    border-radius: 10%;
    border: 4px solid #3882F6;
}

.section3{
    justify-content: center;
    padding: auto auto;
    background-color: #E5E7EB;
    height: 15em;
}

.section3 .container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section3 .quote{
    font-style: italic;
    align-self: center;
    font-size: 24px;
}

.section3 .attribution{
    align-self: flex-end;
    font-size: 18px;
    font-weight: bold;
}

.section4{
    justify-content: center;
}

.section4 .container{
    display: flex;
    justify-content: space-around;
    gap: 4em;
    background-color: #3882F6;
}

